extends layout 
 
block content 
  h1= title 
 
  - let cakeid = toShow._id 
  - let flavour = toShow.flavour 
  - let price = toShow.price 
  - let shape = toShow.shape 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{cakeid} 
  - let actionid = "/resource/cake/" + cakeid 
  form(id='CakeForm', action= actionid, method="DELETE") 
    div.form-group 
        label.cakeAttr(for='flavour') Cake flavour
        input#flavour(type='text', name='flavour', value= flavour ) 
    div.form-group 
        label.cakeAttr(for='price') Cake price
        input#price(type='number', name='price', value= price ) 
    div.form-group 
        label.cakeAttr(for='shape') Cake shape
        input#shape(type='text', name='shape', value= shape ) 
    input(type="submit") 
 
  script. 
    document.forms['CakeForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'DELETE', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("delete succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("delete failed " + error ) 
      }); 
    }); 